<section id="vission">
    <div class="container">
        <div class="row ptd">
            <div class="col-md-6">
                <ol class="mission-ul" type="I">
                    <li>Organizing regular scientific meetings.</li>
                    <li>Organizing educational activities through meetings, symposium, confer ences and workshops and CPD.</li>
                    <li>Collection of reliable data regarding the treatment performed in the country.</li>
                    <li>Conducting oncology related research in the field of Gynaecological cancer.</li>
                    <li>Establishing network among the gynaecological oncologists in the country.</li>
                    <li>Auditing the results of different treatment modalities.</li>
                    <li>Organizing multicentric trials.</li>
                    <li>Organizing regular training programs.</li>
                    <li>Bringing out appropriate guidelines where applicable.</li>
                    <li>Organizing public awareness programes.</li>
                </ol>
            </div>
            <div class="col-md-6">
                <img src="/images/mission-inner.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</section><br>
