<section id="about"><!-- about Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-text">
                    <div class="about-text-inner">
                        <h3><b>WELLCOME TO GOSB</b></h3>
                        <img src="/images/dash.png"/>
                        <p>Gynaecological Oncology Society of Bangladesh (GOSB) is a multidisciplinary body involving the Gynaecologists,  Radiation and medical oncologist, Colorectal Surgeons, Urologists, Pathologists, Palliative care medicine specialists, Anesthesiologists, Nuclear scientists, Cancer Epidemiologists, Radiology imaging specialist and social workers etc. It is adopted in the general meeting held on 7th January 2016. <br><br>

                            Gynaecological Oncology Society of Bangladesh (GOSB) is devoted to the treatment of Gynae cancer patients through the development of scientific knowledge by research and treatment in Gynae oncology globally.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="/images/about.jpg" class="img-fluid">
                </div>
            </div>
        </div><!-- Row -->
    </div><!-- Container -->
</section><br>
